<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>psmandrik</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>
<body>
<div class="main">
  {% include 'header.html' %}
  <div class="content">
    <div class="post">
      <a href="{{ post.prev.link }}">до этого "{{ post.prev.title }}"</a>
      <a href="{{ post.next.link }}" style="float:right">а потом "{{ post.next.title }}"</a>
      <div class="posttitle"> {% if post.postStatus == "скрыт" %} СОКРЫТ ... {% endif %} </div>
      <div class="posttitle">{{ post.title }}</div>
      {{ post.data|safe }}
      
      <div class="tag-container">
      {% for hashtag in post.hashtags %}
        <p class="tag2"> <a href="{{ hashtag.link }}"> {{ hashtag.name }} </a> </p>
      {% endfor %}
      </div>
      
      <div class="date" align="right">записано {{ post.dateCreated }}</div>
      {% if post.dateUpdated %} 
        <div class="date" align="right">обновлено {{ post.dateUpdated }}</div>
      {% endif %} 
      
      {% if blog.has_user %} 
        <div class="date" align="right"> <a href="/edit?id={{ post.id }}"> править </a> </div>
      {% endif %} 
    </div>
  {% include 'footer.html' %}
</div>
</body>
</html>
